@import url('https://giscus.app/themes/dark.css');
@import url('./giscus-base.css?v=4');

main {
	--color-btn-text: #ededed;
	--color-btn-bg: #0a0a0a;
	--color-btn-border: #4b4b4b;
	--color-btn-shadow: none;
	--color-btn-inset-shadow: none;
	--color-btn-hover-bg: #171717;
	--color-btn-hover-border: #ededed;
	--color-btn-active-bg: #2b2b2b;
	--color-btn-active-border: #ededed;
	--color-btn-selected-bg: #2b2b2b;
	--color-btn-primary-text: #0b0b0b;
	--color-btn-primary-bg: #f0f0f0;
	--color-btn-primary-border: #f0f0f0;
	--color-btn-primary-shadow: none;
	--color-btn-primary-inset-shadow: none;
	--color-btn-primary-hover-bg: #ffffff;
	--color-btn-primary-hover-border: #ffffff;
	--color-btn-primary-selected-bg: #dedede;
	--color-btn-primary-selected-shadow: none;
	--color-btn-primary-disabled-text: #999999;
	--color-btn-primary-disabled-bg: #2b2b2b;
	--color-btn-primary-disabled-border: #2b2b2b;
	--color-action-list-item-default-hover-bg: #171717;
	--color-segmented-control-bg: #171717;
	--color-segmented-control-button-bg: #0a0a0a;
	--color-segmented-control-button-selected-border: #4b4b4b;
	--color-fg-default: #ededed;
	--color-fg-muted: #a4a4a4;
	--color-fg-subtle: #999999;
	--color-canvas-default: #0a0a0a;
	--color-canvas-overlay: #111111;
	--color-canvas-inset: #171717;
	--color-canvas-subtle: #171717;
	--color-border-default: #2b2b2b;
	--color-border-muted: #2b2b2b;
	--color-neutral-muted: rgb(255 255 255 / 8%);
	--color-accent-fg: #ededed;
	--color-accent-emphasis: #ededed;
	--color-accent-muted: rgb(255 255 255 / 22%);
	--color-accent-subtle: #171717;
	--color-success-fg: #ededed;
	--color-attention-fg: #a4a4a4;
	--color-attention-muted: rgb(255 255 255 / 22%);
	--color-attention-subtle: #171717;
	--color-primer-shadow-inset: none;
	--color-scale-gray-7: #171717;
	--color-scale-blue-8: #2b2b2b;
	--color-social-reaction-bg-hover: #171717;
	--color-social-reaction-bg-reacted-hover: #2b2b2b;
}
