@import url('https://giscus.app/themes/light.css');
@import url('./giscus-base.css?v=2');

main {
	--color-btn-text: #111111;
	--color-btn-bg: #fafafa;
	--color-btn-border: #b8b8b8;
	--color-btn-shadow: none;
	--color-btn-inset-shadow: none;
	--color-btn-hover-bg: #f0f0f0;
	--color-btn-hover-border: #111111;
	--color-btn-active-bg: #dedede;
	--color-btn-active-border: #111111;
	--color-btn-selected-bg: #dedede;
	--color-btn-primary-text: #ffffff;
	--color-btn-primary-bg: #111111;
	--color-btn-primary-border: #111111;
	--color-btn-primary-shadow: none;
	--color-btn-primary-inset-shadow: none;
	--color-btn-primary-hover-bg: #2b2b2b;
	--color-btn-primary-hover-border: #2b2b2b;
	--color-btn-primary-selected-bg: #000000;
	--color-btn-primary-selected-shadow: none;
	--color-btn-primary-disabled-text: #696969;
	--color-btn-primary-disabled-bg: #dedede;
	--color-btn-primary-disabled-border: #dedede;
	--color-action-list-item-default-hover-bg: #f0f0f0;
	--color-segmented-control-bg: #f0f0f0;
	--color-segmented-control-button-bg: #ffffff;
	--color-segmented-control-button-selected-border: #b8b8b8;
	--color-fg-default: #111111;
	--color-fg-muted: #696969;
	--color-fg-subtle: #707070;
	--color-canvas-default: #fafafa;
	--color-canvas-overlay: #ffffff;
	--color-canvas-inset: #f0f0f0;
	--color-canvas-subtle: #f0f0f0;
	--color-border-default: #dedede;
	--color-border-muted: #dedede;
	--color-neutral-muted: rgb(0 0 0 / 7%);
	--color-accent-fg: #111111;
	--color-accent-emphasis: #111111;
	--color-accent-muted: rgb(0 0 0 / 20%);
	--color-accent-subtle: #f0f0f0;
	--color-success-fg: #111111;
	--color-attention-fg: #696969;
	--color-attention-muted: rgb(0 0 0 / 20%);
	--color-attention-subtle: #f0f0f0;
	--color-primer-shadow-inset: none;
	--color-scale-gray-1: #f0f0f0;
	--color-scale-blue-1: #dedede;
	--color-social-reaction-bg-hover: #f0f0f0;
	--color-social-reaction-bg-reacted-hover: #dedede;
}
